html {

}
body {
    height: 100vh;
    margin: 0;
}

.mainNav {
    width: 100%;
    background-color: #1b6d85;
    height: 15vh;
}

.nav {
    text-align: center;
}

.mainLogo {
    background-color: red;
    width: 25%;
    height: 10vh;
}

.mainGame {
    background-color: cyan;
    width: 100%;
    height: 85vh;
    display: flex;
}

.statsArea {
    background-color: greenyellow;
    height: 55vh;
    width: 25%;
    display: flex;
    padding-top: 25px;
    position: relative;
}


.cardContainer {
    width: 16.66%;
    background-color: red;
    height: 33.33%;
    float: left;
    position: relative;
    display: flex;

}
.cardContainerMiddle {
    width: 16.66%;
    background-color: green;
    height: 33.33%;
    float: left;
    position: relative;
    display: flex;
}

.cardContainerBottom {
    width: 16.66%;
    background-color: orange;
    height: 33.33%;
    float: left;
}

.card{
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    background-color: orange;
    position: relative;
    float: left;

}
.front, .back{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.front {
    background-color: teal;
}

.back {
    background-color: blue;
}

.card:hover > .back {
    display: none;
}